{% extends 'base_layout.html' %} {% block body %}
<diV class="container">
    <div style="margin-top: 50px;">
        <div class="row">
            <div class="col-4">

                <div class="card text-center">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{company.logo}}" class="img-fluid" style="margin-top: 30px;" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{company.name}}</h5>
                        <p class="card-text">
                            {{company.finnhubIndustry}}
                            <br>{{company.country}}
                            <br>tel. {{company.phone}}
                        </p>
                        <a href="{{company.weburl}}" class="btn btn-dark">Link</a>
                    </div>
                </div>

            </div>


            <div class="col-8">
                <div class="card">
                    <table class="table table-hover text-nowrap text">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">MarketCapitalization</th>
                                <th scope="col">ShareOutstanding </th>
                                <th scope="col">Currency</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td scope="row">{{company.name}}</td>
                                <td scope="row">{{company.marketCapitalization}}</td>
                                <td scope="row">{{company.shareOutstanding}}</td>
                                <td scope="row">{{company.currency}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</diV>

{% endblock %}