{% extends 'base_layout.html' %} {% block body %}
<div class="container">
    <!--
    <section class="mt-5 wow fadeIn">
        <div class="card" style="padding: 10px; border-radius: 1rem;">
            <form method="POST" action="/stock">
                <div class="row">
                    <div class="col-md-11">
                        <div class="form-outline">
                            <input type="text" id="formControlDefault" class="form-control" style="width: 100%;" name="company"/>
                            <label class="form-label" for="formControlDefault">Search your company</label>
                            
                        </div>

                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-dark btn-floating">
                            <i class="fas fa-search-dollar"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    -->
    <!-- Section APPL -->
    <section class="mt-5 wow fadeIn">
        <div class="card  mb-3" style="padding: 20px; border-radius: 1rem;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card w-100 hover-shadow" style="margin-top: 50px;">
                                <div class="card text-center">
                                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                        <img src="{{company.logo}}" class="img-fluid" style="margin-top: 30px;" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{company.name}}</h5>
                                        <p class="card-text">
                                            {{company.finnhubIndustry}}
                                            <br>{{company.country}}
                                            <br>tel. {{company.phone}}
                                        </p>
                                        <a href="{{company.weburl}}" class="btn btn-dark">Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card w-100 hover-shadow">
                                <div class="card text-center">
                                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                        <div id="div-id">
                                            <script>
                                                var graphs = {{ plot | safe}};
                                                Plotly.plot('div-id', graphs, {});
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>

    <section class="mt-5 wow fadeIn">
        <div class="card mb-3" style="padding: 10px; border-radius: 1rem;">
            <a href="" style="margin-top: 10px; margin-bottom: 10px; text-align: center; color: black;">
                <h3> #Recomend Stock </h3>
            </a>

            <form style="text-align: center;">
                <button type="submit" class="btn btn-secondary btn-rounded" name="company" value="IRBT">IROBOT CORP</button>
                <button type="submit" class="btn btn-warning btn-rounded" name="company" value="TSLA">TESLA INC</button>
                <button type="submit" class="btn btn-primary btn-rounded" name="company" value="ETSY">ETSY INC</button>
                <button type="submit" class="btn btn-success btn-rounded" name="company" value="IBM">INTL BUSINESS MACHINES CORP</button>
                <button type="submit" class="btn btn-danger btn-rounded" name="company" value="TDOC">TELADOC HEALTH INC</button>
                <button type="submit" class="btn btn-info btn-rounded" name="company" value="LGL">LGL GROUP INC/THE</button>
                <button type="submit" class="btn btn-light btn-rounded" name="company" value="PINS">PINTEREST INC- CLASS A</button>
                <button type="submit" class="btn btn-dark btn-rounded" name="company" value="AMZN">AMAZON.COM INC</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #ff4500; color: white;" name="company" value="VLKAF">VOLKSWAGEN AG</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #3b5998; color: white;" name="company" value="MSFT">MICROSOFT CORP</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #c61118; color: white;" name="company" value="018260.KS">SAMSUNG SDS CO LTD</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #481449; color: white;" name="company" value="NFLX">NETFLIX INC</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #333333; color: white;" name="company" value="ORCL">ORACLE CORP</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #25d366; color: white;" name="company" value="SBUX">STARBUCKS CORP</button>
                <button type="submit" class="btn btn-rounded" style="background-color: #ac2bac; color: white;" name="company" value="AUDVF">AUDI AG</button>
                
            </form>
        </div>
    </section>

</div>

{% endblock %}